#top-sign{
  color: white;
}

.form-row{
  font-size: 150%;
  margin: -15%;

  label, legend{
    color: white;
    font-family: 'moon-reg', sans-serif;
    font-size: 150%;
  }
}

#buttons{
  margin-top: 2%;
}