<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <title>Exo-planet Project3</title>
        <meta name="description" content="Project-3 for software development">
        <link href="../css/overrides.css" type="text/css" rel="stylesheet">
    </head>
    <body>

    <div class="main">

        <h1>Exoplanet 2K</h1>

        <br>

        <h6>October 28, 2019</h6>

        <h6 id="my-name">Synjin Shanley</h6>

        <p>Sometime this year the two thousandth planet will be discovered outside our solar system. The vast range of
            discoveries that have been confirmed are almost certainly outliers in the billions of worlds thought to
            exist, brought into focus by relatively weak technologies that are biased in favor of anomalies. So far,
            these include:</p>

        <ul>
            <li>the burnt cinder of PSR B1257+12 B, whirling around a pulsar: the first exoplanet discovered in 1992.</li>
            <li>massive "hot Jupiters" that circle their stars well inside the orbit of Mercury, drawing bow wakes of
                stellar material behind them.</li>
            <li>Systems with seven detected planets (HD 10180).</li>
        </ul>

        <h2>Discovery Techniques</h2>

        <img id="planet" src="../images/planet.jpg" alt="an exoplanet's side view">

        <p>Pulsar timing remains the easiest method to find exoplanets, but the inimical nature of their parent stars
            make the worlds extremely unlikely candidates as sources for life. More recent detection techniques have
            their own limitations:</p>

        <h3>Radial velocity</h3>

        <p>The measurement of a planet's orbital tug on its star, causing a rhythmic "wobble" in the position of
            the parent star. Due to their differences in mass, the technique is best at detecting exoplanets that are
            very large (Jupiter mass or above) and/or very close to their star.</p>

        <h3>Transit</h3>

        <p>A exoplanet moving in the same plane as our line of sight will partially "eclipse" its star during
            moments of its orbit. If this dip in perceived brightness occurs at regular intervals, an orbiting body can
            be inferred. Obviously the larger the planet and/or the further it orbits from its star, the greater the
            dip in received light and the easier the detection</p>

        <h3>Reflected light</h3>

        <p>A planet will reflect the light of its star in phases as it orbits, just as the moon does as it circles the
            Earth. While the amount of reflected light will be very small compared to the central star (the common
            comparison is the ability to perceive the glow of a lit match held at arms length from a lighthouse beam),
            the method is useful for large Jupiter-sized bodies orbiting relatively close to their host star.</p>

        <h3>Gravitational microlensing</h3>

        <p>Light can be bent by its transmission medium (such as water) or by passing beside a large gravitational
            mass. The most extreme variations of the latter effect are observed around supermassive black holes and
            galaxies, but planets have the same effect on starlight, albeit much more subtly</p>

        <p>Because such alignments of exoplanets and background stars are very rare, the most likely opportunities come
            from observations directed toward the galactic core, where the density of stars is highest.</p>

        <p>Exoplanet detection is a long, slow process: a candidate will need to complete at least one full orbit
            (its own relative "year") before it can be confirmed. While terrestrial equipment has been used in the
            hunt for planets, the greatest gains in exoplanet detection have come from satellites, particularly the
            Kepler NASA space observatory and <span data-tooltip tabindex="1" data-click-open="true" title="A space telescope that studied extrasolar planets and stars"><em>COROT</em></span>
            (led by the French Space Agency). Other projects with greater resolution, such as the Terrestrial Planet
            Finder and Darwin, are unfortunately on hold or cancelled at this time. <a href="https://en.wikipedia.org/wiki/James_Webb_Space_Telescope" target="_blank">
                The James Webb Space Telescope</a>, a visible-wavelength-to-infrared detector, should also have the
            opportunity for imaging planets after it is launched in 2018.</p>

        <h2>Possible Detection of Life?</h2>

        <p>So far we have have a dataset of just one planet confirmed to support life: we know it exists on Earth. The
            flourishing evolutionary diversity of life on Earth is entirely dependant on water, which implies that
            other planets capable of supporting biological life must be within the "habitable zone" of their parent
            stars (neither so close as to boil, or freezing when they are too far out). Other heating methods to
            produce liquid water are possible, from vulcanism to the gravitational tugging of a large planet on a
            smaller ice-covered worldlet, seen in Saturn's moons Enceladus and
            <a href="https://en.wikipedia.org/wiki/Mimas_(moon)" target="_blank">Mimas</a>.</p>

        <img id="overcast" src="../images/overcast.jpg" alt="an overcast of civilization on a planet">

        <p>While projects such as <span data-tooltip tabindex="1" title="An institute that studies life in our universe" data-click-open="true"><em>SETI</em></span> have so far failed to detect the presence of intelligent extraterrestrial life
            using radio frequencies, there exists the intriguing possibility that we may detect intelligent life by
            observing the atmosphere of an exoplanet.</p>

        <p>Such detection is not likely to be achieved by seeing the night-glow of an alien city through a telescope:
            the power to resolve those kinds of details is more than a century away, if it is achievable at all. Rather,
            alien life might be inferred through the presence of elements, via spectrography.</p>

        <p>As a planet transits past its parent star, light is refracted through its atmosphere. By teasing apart the
            spectrum of the light received here on Earth and observing the absorption lines, it is possible to
            determine the chemical composition of a planet's atmosphere, together with information like wind speed
            and direction. As our instruments become more precise, we should be able to resolve the atmospheres of
            ever-smaller planets... and if we ever find oxygen, or a high proportion of methane, we will have found
            life, as it is only biological life that can produce those elements.</p>

        <p>Taking this a step further, we should also be able to detect the presence of artificial chemicals in an
            atmosphere, such as vinyl chloride mononomers. This will be an unmistakable sign of an industrial society,
            as no natural process that produces such compounds.</p>

        <p>Given the increasingly desperate state of our own planet's ecosystem, it is deeply ironic that our
            discovery of intelligent life elsewhere in the Universe may come from the detection of another world's
            pollution.</p>

        <br>

        <p id="sign-up"><a href="./sign-up.html">Sign up</a></p>

    </div>

    </body>
</html>