<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Sign-up</title>
		<meta name="description" content="sign-up to support us today!">
		<link href="../css/overrides.css" type="text/css" rel="stylesheet">
	
	</head>
		<body>

		<div class="main">

			<p id="top-sign">Sign Up</p>

			<form action="./exo-planet.html" method="get" class="main-sign">

				<div class="form-row main">

					<label for="first-name">First Name</label>

						<input id="first-name" name="first-name" type="text" placeholder="First Name">

				</div>

				<div class="form-row main">

					<label for="last-name">Last Name</label>

					<input id="last-name" name="last-name" type="text" placeholder="Last Name">

				</div>

				<div class="form-row main">

					<fieldset>

						<legend>Date of Birth</legend>

					<select class="birthday" name="month">
						<option value="Month" selected>Month</option>
						<option value="January">January</option>
						<option value="February">February</option>
						<option value="March">March</option>
						<option value="April">April</option>
						<option value="May">May</option>
						<option value="June">June</option>
						<option value="July">July</option>
						<option value="August">August</option>
						<option value="September">September</option>
						<option value="October">October</option>
						<option value="November">November</option>
						<option value="December">December</option>
					</select>

					<select class="birthday" name="day">
						<option value="Day" selected>Day</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>

					<select class="birthday" name="year">
						<option value="Year" selected>Year</option>
						<option value="2019">2019</option>
						<option value="2018">2018</option>
						<option value="2017">2017</option>
						<option value="2016">2016</option>
						<option value="2015">2015</option>
						<option value="2014">2014</option>
						<option value="2013">2013</option>
						<option value="2012">2012</option>
						<option value="2011">2011</option>
						<option value="2010">2010</option>
						<option value="2009">2009</option>
						<option value="2008">2008</option>
						<option value="2007">2007</option>
						<option value="2006">2006</option>
						<option value="2005">2005</option>
						<option value="2004">2004</option>
						<option value="2003">2003</option>
						<option value="2002">2002</option>
						<option value="2001">2001</option>
						<option value="2000">2000</option>
					</select>

					</fieldset>

				</div>

				<div class="form-row main">

					<fieldset>

						<legend>Gender</legend>

						<input name="gender" id="male" type="radio" value="Male">

						<label for="male">Male</label>

						<input name="gender" id="female" type="radio" value="Female">

						<label for="female">Female</label>

					</fieldset>

				</div>

				<div class="form-row main">

					<label for="country">Country</label>

					<select id="country" name="year">
						<option value="Country" selected>Country</option>
						<option value="USA">USA</option>
						<option value="Canada">Canada</option>
						<option value="Other">Other</option>
					</select>

				</div>

				<div class="form-row main">

					<label for="e-mail">E-mail</label>

					<input id="e-mail" type="email" name="e-mail" placeholder="example@mail.com">

				</div>

				<div class="form-row main">

					<label for="number">Phone</label>

					<input id="number" type="number" placeholder="Enter">

				</div>

				<div class="form-row main">

					<label for="password">Password</label>

					<input id="password" type="password">

				</div>

				<div class="form-row main">

					<label for="confirm">Confirm Password</label>

					<input id="confirm" type="password">

				</div>

				<div id="buttons" class="float-right main">

				<a class="success button" href="./exo-planet.html">submit</a>

				<a class="alert button" href="./exo-planet.html">Cancel</a>

				</div>

			</form>

		</div>
		
		</body>
</html>